// Dimensions
$default-margin: 10px;
$default-padding: 10px;

// Text dimension
$font-size: 1.1em;
$font-size-header: 2em;

// Colors
$background-color: #ECF0F1;
$main-color: #2C3E50;
$accent-color: #E74C3C;
$secondary-color: #3498DB;

// Text colors
$main-text-color: #333;
$secondary-text-color: #FFF;