@import 'variables';
@import 'modules/header';
@import 'modules/file-uploader';

body, html {
  width: 100%;
  height: 100%;
  font-size: $font-size;
  text-color: $main-text-color;
  background-color: $background-color;
}

.container {
  padding: $default-padding
}

h1, h2, h3, h4 {
  font-size: $font-size-header
}

//
//.secondary-colors,
//.secondary-colors:hover,
//.secondary-colors:active
//{
//  background-color: $secondary-color;
//  text-color: $secondary-text-color;
//}
//
//.main-colors,
//.main-colors:hover
//.main-colors:active
//{
//  background-color: $main-color;
//}
//
//.accent-colors
//.accent-colors:hover,
//.accent-colors:active
//{
//  background-color: $accent-color;
//}

// By default, hide all 'pages'
div[data-page] {
  display: none;
}

.hidden {
  display: none;
}