#file-uploader
{
  padding: 15px;
  border: 2px dashed darkgreen;
  text-color: green;
  height: 400px;
  margin-bottom: 20px;
}

#generate-keys
{
  padding: $default-padding;
  margin: $default-margin;
}

//#upload-file
//{
//  display: none;
//}